body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-musicas-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

#menu-musicas-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-musicas-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.menu-musicas-btn {
    width: 75vw;
    background: none;
    border-radius: 0.5rem;
    padding: 2rem 0rem;
    font-size: 2rem;
    border: 2px solid blue;
    color: blue;
}