@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

:root {
    --hover: #ddd;
    --btn-main-menu: rgb(84, 84, 255);
    --btn-menu: black;
    --titles: black;
    --background: white;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

#babycare-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}

.main-menu-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.babycare-welcome-text {
    font-size: 2rem;
    color: var(--titles);
}

#main-menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.comecar-btn {
    width: 100%;
    background: none;
    border: 2px solid var(--btn-main-menu);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: var(--btn-main-menu);
    text-decoration: none;
    text-align: center;
    display: block;
}

.comecar-btn:hover {
    background-color: var(--hover);
}

.menu-header {
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.back-button {
    color: var(--btn-menu);
    font-size: 2rem;
}

.btn-list {
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70vw;
}

.menu-btn {
    width: 100%;
    background: none;
    border: 2px solid var(--btn-menu);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: var(--btn-menu);
    text-decoration: none;
    text-align: center;
    display: block;
}

.shantala-image {
    height: 20vh;
}

.shantala-btn {
    width: 80vw;
    height: 15vh;
    padding: 0.5rem;
    border: 2px solid var(--btn-menu);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shantala-btn:visited {
    color: var(--btn-menu)
}

.shantala-btn h1 {
    font-size: 1.2rem;
}

.shantala-btn p {
    font-size: 0.7rem;
}

.shantala-btn-list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90vw;
}

.shantala-btn-list a {
    width: 100%;
    background: var(--btn-main-menu);
    color: var(--background);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    display: block;
}

.musicas-btn-list {
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70vw;
}

.musicas-menu-btn {
    width: 100%;
    background: none;
    border: 2px solid var(--btn-main-menu);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: var(--btn-main-menu);
    text-decoration: none;
    text-align: center;
    display: block;
}

.ruidos-container {
    width: 100vw;
    height: 70vh;
}

.ruidos-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border-top: 2px solid var(--btn-menu);
}

.ruidos-list a {
    color: var(--btn-menu);
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 0.7rem;
    border-bottom: 2px solid var(--btn-menu);
}

.ruidos-header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.dicas-header {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dicas-title {
    font-size: 2rem;
}

.dicas-container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

.dicas-list {
    font-size: 1.1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

#audio-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.audio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 35vh;
}

.audio-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.backwards-forwards {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.forwards {
    transform: scaleX(-1);
}

.progress-bar {
    border: 5px solid var(--btn-main-menu);
    border-radius: 1rem;
}

.play {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.wand {
    font-size: 1.5rem;
}

.audio-description {
    text-align: center;
    border: 2px solid var(--btn-menu);
    overflow-y: auto;
    height: 55vh;
}

.audio-description-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 1rem;
}

.audio-description-text p {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: .5rem 0;
}

#shantala-description {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
    padding: 1.2rem;
}

#shantala-description h1 {
    text-align: center;
}

#shantala-description ul {
    padding: 0rem 1rem;
}

#shantala-description li {
    padding: 0.5rem;
}